<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <li><p> <strong> /createSurvey</strong>:create new survey </p>  </li>
      <li><p> <strong>/deleteSurvey/id</strong>:delete survey </p></li>
      <li><p> <strong>/addQuestions/id</strong>: add question to survey </p></li>
      <li><p> <strong>/takeSurvey/id</strong>: allow the user to take a survey </p></li>
      <li><p> <strong>/removeQuestions</strong>: remove question from survey  </p></li>
      <li><p> <strong>/getAllParticipants</strong>:return usernames of all users who taken a survey. </p></li>
      <li><p> <strong>/getSurveyResponse/ID/username</strong>: return response of single user </p></li>
      <li><p> <strong>/getAllResponse/ID </strong>:  return all responses of single survey</p></li>
      <li><p> <strong>/getAllQuestions/ID</strong>:  return all questions of particular survey</p></li>
    </ul>
  </body>

</html>
